* {
    box-sizing: border-box;
} 

header {
    text-align: center;
    background-color: rgb(251, 192, 72);
    min-height: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center
}

header img {
    max-height: 7rem;
    filter: blur(1px);
    border-radius: 70%;
}

body {
    font-family: 'Kalam', cursive;
    font-family: 'Orbitron', sans-serif;
    width: 100vw;
    height: 100vh;
}

#invader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #3c406c 0%, #6d57cf 100%);
    min-height: 73%;
    max-height: 100%;
}

.choiceSize {
    background-color: #3148AD;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.configuration {
    min-height: 5rem;
    padding: 1.5em;
    margin-left: 4rem;
    display: flex;
    justify-content: center;
}

.configuration input {
    margin: 0rem 1rem;
}

.configuration button {
    margin-left: 10rem;
    
}

.line {
    display: flex;
    background: rgb(0, 0, 0, 0.1);
    
}

.pixel {
    border: 2px solid;
    width: 20px;
    height: 20px;
    background-color: white;
}

.bourg {
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    padding: 0.5em;
    color: #fff;
    margin: 1rem;
    align-items: center;
}

.bourg h3 {
    margin-right: 1.5rem;
}

.bourg a {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.5em;
    transition: 0.5s;

}


.pixel--black {
    background-color: black;
}

.pixel--plain {
    background-color: rgb(210, 218, 226);
}

.pixel--empty {
    background-color: rgb(72, 84, 96);
}

.pixel--light {
    background-color: rgb(251, 192, 72);
}

.pixel--highlight {
    background-color: rgb(121, 234, 131);
}

.pixel--white {
    background-color: #fff;

}

.bourg a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.palette-color--active {
    transform: scale(1.5);
    border: 1px solid black;
}